html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30,#243b55);
}

.main_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.main_box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.main_box .input_box {
    position: relative;
}

.main_box .input_box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.main_box .input_box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.main_box .input_box input:focus ~ label,
.main_box .input_box input:valid ~ label{
    top:-20px;
    left: 0;
    color:#03e9f4 ;
    font-size: 12px;
}

.main_box .submit {
    position: relative;
    padding: 10px 20px;
    color: #03e9f4;
    background: transparent;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    margin-left: 30%;
    letter-spacing: 4px;
    border: none;
    animation: animate 5s ease-in-out infinite;
}

.main_box .submit:hover {
    background: #03e9f4;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.grid{
    display: grid;
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
}

.card{
    background-color: #fff;
    border-radius: 0.5em;
    position: relative;
}

.card:hover {
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.radio{
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(1em + 2px);
    top: calc(1em + 2px)
}

.card:hover .radio{
    border-color: #03e9f4;

    &:checked{
        border-color: #03e9f4;
    }
}

.Candidate_details{
    border: 2px solid #03e9f4;
    border-radius: 0.5em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1em;
    transition: border-color 0.2s ease-out;
}

.card:hover .Candidate_details{
    border-color: #03e9f4;
}

.radio:checked ~ .Candidate_details{
    border-color: #03e9f4;
}

.radio:focus ~ .Candidate_details{
    box-shadow: 0 0 0 2px #c4d1e1;
}

.Candidate_name{
    color: #03e9f4;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
}