<!DOCTYPE html>
<html>
  <head>
    {{ fontawesome_html() }}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/estyle.css">
  </head>
  <body>
        <div class="navbar">
          <ul class="nav_ul">
            <li class="nav_li"><a href="{{url_for('views.activity')}}"><i class="fas fa-arrow-left"></i></a></li>
            <li class="nav_li"><a href="">Election</a></li>
            <li class="nav_li"><a href="{{url_for('views.candidates')}}">Candidates</a></li>
            <li class="nav_li"><a href="{{url_for('views.voters')}}">Voters</a></li>
          </ul>
        </div>
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages() %}
   {% if messages %}
   {% for message in messages %}
   <script>
      alert("{{ message }}")
    </script>
    {% endfor %}
   {% endif %}
{% endwith %}

  </body>
</html>