{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="image_box">
  <div id="slideshow">
          <div class="item">
              <img src="../static/img/2.png" class="car_img">
          </div>
       <div class="item">
          <img src="../static/img/3.png" class="car_img">
       </div>
      
  </div>
</div>
<div id="about_us">
  <h1>About us</h1>
  <div id="paras">
  <p>
      00 eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra 
  </p>
  <p>
      01 eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra
  </p>
  </div>
</div>
<footer id="footer">
  <div class="wrapper">
      <div class="left">
          <img src="../static/img/2.png" id="foot_image">
      </div>
      <div class="right">
          <div class="sect 1">
                  <h3>Customer Service</h3>
                  <ul class="footer_list">
                      <li>FAQS</li>
                      <li>TRACK YOUR ORDER</li>
                      <li>BLOG</li>
                      <li>CAREERS</li>
                      <li>SERVICING AND MAINTENANCE</li>
                      <li>WARRANTY INFORMATION</li>
                      <li>FINANCE OPTIONS</li>
                      <li>FEI BRAND AMBASSADOR</li>
                      <li>RETURNS</li>
                      <li>SUGGESTION BOX</li>
                      <li>GIFT VOUCHER</li>
                  </ul>
          </div>
          <div class="sect 2">
               <div class="Location">
                  <h3>Location</h3>
                  <p>volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec</p>
                  <p>volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec</p>
               </div>
          </div>
          <div class="sect 3">
              <div class="contact_us">
                  <h3>Contact Us</h3>
                  <ul class="footer_list">
                      <li>Phone no: 8457961452</li>
                      <li><a href="#">PersonalFinanceTracker@gmail.com</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
  
{% endblock %}


