<!DOCTYPE html>
<html>
<head>
  <title>Voting Portal</title>
  <link rel="stylesheet" href="../static/voting.css">
</head>
<body>
  <div class="main_box">
    <h1>Voting Portal</h1>
    <form action="{{url_for('views.vote')}}" method="POST">
      <div class="input_box">
        <input type="text" id="vid" name="vid" required="">
        <label>VID:</label>
      </div>
      <div class="input_box">
        <input type="password" id="vkey" name="vkey" required="">
        <label>VKey:</label>
      </div>
      <input class="submit" type="submit" value="submit" />
        
  </form>
  </div>
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <script>
     alert("{{ message }}")
   </script>
   {% endfor %}
  {% endif %}
{% endwith %}
</body>
</html>